* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 125px 200px 125px;
  grid-template-rows: 250px 100px;
  justify-content: end; /* move left-right, satrt-center-end*/
  /* justify-content: space-between; */
  align-content: end; /* move up-down start-center-end*/

  align-items: center;
  justify-items: center;

  gap: 20px;

  width: 700px;
  height: 600px;

  color: white;
  font-weight: bold;
  background-color: #f0e8e8ef;
  padding: 20px 20px;
  margin: 40px;
}

.one {
  background-color: #383535;
}

.two {
  background-color: #9ee09e;
}

.three {
  background-color: #be7070;
}

.four {
  background-color: #29294b;
}

.five {
  background-color: #3c3c9b;
}

.six {
  background-color: #2b924d;
}
